* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
}

img {
    max-width: 100%;
    height: auto;
}


.top-container, .mid-container, .bot-container   {
    height: 100vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.top-container{
    background-color: lightgray;
}

.mid-container {
    background-color: lightpink;
}

.bot-container {
    background-color: lightskyblue;
   
}

#image-1 {
    background-color: #ff4c68;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 50%;
    text-align: center;
}

.overlay-text {
    position: absolute;
    padding: 5px;
}

.about-me {
    background-color: antiquewhite;
    color: black;
    padding: 1.5rem;
    width: 50%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: aqua;
    min-width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bot-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-me {
    padding: 1.5rem;
    max-width: 50%;
}